.bedinfobanner{
    height: 50vh;
    max-width: 100%;
    background-repeat: no-repeat no-repeat;
    background-size: cover cover;
    background-position: center;

}
.bedinfobanner p{
    color:#fff;
    font-size: 2rem;;
}
.checkstatus{
    background-color: rgb(167, 165, 165);
}